<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Authors form</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <style>
    .full-height {
      height: 100vh;
    }
  </style>
</head>
<body>
<div class="container full-height d-flex align-items-center justify-content-center">
  <div class="card p-4" style="max-width: 600px; width: 100%;">
    <hr>
    <h2 class="text-center">Add a new Author</h2>

    <form action="#" th:action="@{/authors/save}" th:object="${author}" method="POST">
      <div class="form-group">
        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4">
      </div>
      <div class="form-group">
        <input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control mb-4">
      </div>
      <div class="form-group">
        <input type="number" th:field="*{birthYear}" placeholder="Birth Year" class="form-control mb-4">
      </div>
      <div class="form-group">
        <input type="text" th:field="*{authorDetails.description}" placeholder="Description" class="form-control mb-4">
      </div>
      <div class="text-center mb-4"> <!-- Added `mb-4` for margin bottom -->
        <button type="submit" class="btn btn-info">Save Author</button>
      </div>
      <div class="text-center">
        <a th:href="@{/authors}" class="btn btn-link"> Back to Authors List</a> <!-- Centered link -->
      </div>
    </form>

    <hr>

  </div>
</div>
</body>
</html>
