<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>
    <script src="/webjars/font-awesome/6.2.0/js/all.min.js"></script>
</head>
<body>

<div class="container my-2 text-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/authors'}">Authors <span class="sr-only" >(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/books'}">Books <span class="sr-only" >(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/labels'}">Labels <span class="sr-only" >(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

<!--    <h3>Books List</h3>-->

<!--    <div class="card"  style="margin: 15px; font-family: Georgia;  font-weight: bold; text-transform: uppercase;">-->
<!--        <h5 class="card-body">-->
<!--           Book List-->
<!--        </h5>-->
<!--    </div>-->

        <h5 class="card"  style="margin: 20px; padding: 5px; font-family: Georgia;  font-weight: bold; text-transform: uppercase;">
            Book List
        </h5>


    <div class="row justify-content-center">
        <div class="col-md-4 mb-3" th:each="book:${booksList}">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    <span th:text="${book.author.firstName} + ' ' + ${book.author.lastName}"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}">Special title treatment</h5>
                    <p class="card-text" th:text="${book.genre}"></p>
                    <a th:href="@{/books/update-book-form/{id}(id=${book.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/books/deleteBook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/books/page/{id}(id=${book.id})}" class="btn btn-info">Info</a>
                </div>
                <div class="card-footer text-muted" th:text="'Apparition Year: ' + ${book.year}">
                    2 days ago
                </div>
<!--                <div class="card-footer text-muted">-->
<!--                    <div class="card text-white bg-success" style="max-width: 10rem;">-->
<!--                        <div class="card-body p-2">-->
<!--                            <h5 class="card-title mb-0">Best seller</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <a th:href="@{/books/add-book-form}" class="btn btn-info btn-sm mb-3">Add Book</a>

</div>

</body>
</html>
