<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Authors Management System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <style>
    .full-height {
      height: 100vh;
    }
  </style>
</head>
<body>
<div class="container full-height d-flex align-items-center justify-content-center">
  <div class="card p-4" style="max-width: 600px; width: 100%;">
    <hr>
    <h2 class="text-center">Update Author</h2>
    <form action="#" th:action="@{/authors/save}" th:object="${author}" method="POST">
      <!-- Add hidden form field to handle update -->
      <input type="hidden" th:field="*{id}" />
      <div class="form-group">
        <input type="text" th:field="*{firstName}" class="form-control mb-4">
      </div>
      <div class="form-group">
        <input type="text" th:field="*{lastName}" class="form-control mb-4">
      </div>
      <div class="form-group">
        <input type="text" th:field="*{age}" class="form-control mb-4">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info">Update Author</button>
      </div>
    </form>
    <hr>
  </div>
</div>
</body>
</html>
